<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="weblipsAddItem" xsi:type="object">Weblips\Menu\Console\Command\AddItemCommand</item>
            </argument>
        </arguments>
    </type>
    <preference for="Weblips\Menu\Api\Data\ItemInterface" type="Weblips\Menu\Model\Item" />
    <preference for="Weblips\Menu\Api\ItemRepositoryInterface" type="Weblips\Menu\Model\ItemRepository" />
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory" >
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="weblips_items_grid_data_source" xsi:type="string">Weblips\Menu\Model\ResourceModel\Item\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <!-- extends magento Base -->
    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="base_tax_amount" xsi:type="string">sales_order.base_tax_amount</item>
            </argument>
        </arguments>
    </virtualType>
    <!--
    P1
    <preference for="Magento\Framework\Logger\Handler\Debug" type="Weblips\Menu\Model\DebugHandler" />
    P2
     overraid default handler magento
    <type name="Magento\Framework\Logger\Monolog" >
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">Weblips\Menu\Model\DebugHandler</item>
            </argument>
        </arguments>
    </type>
    -->
    <virtualType name="WeblipsLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">main</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Magento\Framework\Logger\Handler\System</item>
                <item name="debug" xsi:type="object">Weblips\Menu\Model\DebugHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- Without observer 
    <type name="Weblips\Menu\Console\Command\AddItemCommand" >
        <arguments>
            <argument name="logger" xsi:type="object">WeblipsLogger</argument>
        </arguments>
    </type>
    -->
    <!-- Add observer -->
    <type name="Weblips\Menu\Observer\Logger" >
        <arguments>
            <argument name="logger" xsi:type="object">WeblipsLogger</argument>
        </arguments>
    </type>
    <type name="Weblips\Menu\Console\Command\AddItemCommand" >
            <plugin name="console_logging" type="Weblips\Menu\Plugin\Logger" />
    </type>
</config>