<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Weblips_Menu::weblips" 
             title="Weblips Menu" 
             translate="title" module="Weblips_Menu" 
             sortOrder="60" resource="Weblips_Menu::weblips" action="weblips"/>
    </menu>
</config>
